@import "./vendor/vars";
@import "./vendor/mixins";
@import './vendor/setting.scss';

html {
  scroll-behavior: smooth;
  font-size: calc(100vw / 1920 * 10);

  @include breakpoint($xl-bp) {
    font-size: calc(100vw / 768 * 10);
  }

  @include breakpoint($sm-bp) {
    font-size: calc(100vw / 375 * 10);
  }
}

body {}

.container {
  width: 100%;
  max-width: 147.2rem;
  margin: 0 auto;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

.content {
  overflow: hidden;

  @include breakpoint($xl-bp) {}

  @include breakpoint($sm-bp) {}
}


h1 {
  @include breakpoint($xl-bp) {}

  @include breakpoint($sm-bp) {}
}

h2 {
  @include breakpoint($xl-bp) {}

  @include breakpoint($sm-bp) {}
}

h3 {
  @include breakpoint($xl-bp) {}

  @include breakpoint($sm-bp) {}
}

input::-webkit-input-placeholder {}

input::-moz-placeholder {}

a {}



.scroll-lock {
  overflow: hidden !important;
  height: 100%;
  width: 100%;
  position: relative;


  // scrollbar-gutter: stable !important;
  // overscroll-behavior-y: none !important;
  // touch-action: none;

  // @include breakpoint($sm-bp) {
  //   scrollbar-gutter: auto !important;

  // }



}



/*--------- blocks -------------*/
@import './blocks/animation.scss';
@import './blocks/header.scss';
@import './blocks/popup.scss';
@import './blocks/footer.scss';

/*------page------*/

@import './page/main.scss';