@import './vendor/fonts.scss';
@import "./vendor/vars";
@import "./vendor/mixins";
@import './vendor/setting.scss';


html {
  font-size: calc(100vw / 1920 * 10);

  @include breakpoint($xl-bp) {
    font-size: calc(100vw / 1024 * 10);
  }

  @include breakpoint($sm-bp) {
    font-size: calc(100vw / 375 * 10);
  }
}

body {

}
main{

}

.container {
  width: 100%;
  max-width: 147.2rem;
  margin: 0 auto;
  padding-left: 1.6rem;
  padding-right: 1.6rem;

}


h1 {


  @include breakpoint($xl-bp) {}

  @include breakpoint($sm-bp) {}
}

h2 {


  @include breakpoint($xl-bp) {}

  @include breakpoint($sm-bp) {}
}

h3 {


  @include breakpoint($xl-bp) {}

  @include breakpoint($sm-bp) {}
}



button,
a {
  font-family: Inter;
}


.lock-scroll {
  overflow: hidden !important;
  height: 100%;
  width: 100%;
  position: relative;
  scrollbar-gutter: stable !important;
  overscroll-behavior-y: none !important;
}


::-webkit-scrollbar {
  // width: 0.8rem;
  // height: 0;
  // background-color: transparent;

  @include breakpoint($sm-bp) {
    // width: 0.5rem;
  }
}


::-webkit-scrollbar-thumb {
  // background-color: var(--blue);
  // border-radius: 10rem;
}

::-webkit-scrollbar-thumb:hover {
  // background-color: #253861;
}

// lib
@import './lib/fancybox.scss';
@import './lib/swiper.scss';

/*--------- components -------------*/



/*--------- popup -------------*/
@import './blocks/popup.scss';
@import './blocks/header.scss';
@import './blocks/animation.scss';

/*------header-----*/
@import './blocks/header.scss';

/*------pages------*/
@import './page/main.scss';



/*------footer-----*/
@import './blocks/footer.scss';