.footer {}

.footer-top {
  background: #2D2D2D;
  color: var(--white);
  padding: 8rem 0 5rem 0;

  @include breakpoint($xl-bp) {
    padding: 2.4rem 0;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include breakpoint($xl-bp) {

      gap: 3.6rem;
    }
  }

  &__el {
    width: 100%;
    max-width: 26.2rem;


    p {

      font-size: 2.4rem;
      font-weight: 600;
      line-height: 2.9rem;
      letter-spacing: 0em;
      text-align: left;
      margin-bottom: 2.8rem;

      @include breakpoint($sm-bp) {

        font-size: 2rem;
        font-weight: 500;
        line-height: 2.4rem;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 2rem;

      }

    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 1.6rem;

      @include breakpoint($sm-bp) {
        gap: 0.8rem;
      }

    }

    a {

      font-size: 1.8rem;
      font-weight: 400;
      line-height: 2.2rem;
      letter-spacing: 0em;
      text-align: left;
      color: var(--white);
      transition: all 0.2s;

      @include breakpoint($sm-bp) {

        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.9rem;
        letter-spacing: 0em;
        text-align: left;

      }

      &:hover {
        color: var(--blue);
      }

    }
  }
}



.footer-bottom {
  background: var(--black);
  padding: 4.8rem 0;

  @include breakpoint($sm-bp) {
    padding: 2.4rem 0;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include breakpoint($sm-bp) {
      flex-direction: column;
      gap: 1.6rem;
      align-items: flex-start;
    }
  }

  &__left {
    width: 100%;

    width: 57.1rem;

    @include breakpoint($sm-bp) {
      display: contents;
    }


    p {

      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.7rem;
      letter-spacing: 0em;
      text-align: left;
      color: var(--white);

      @include breakpoint($sm-bp) {
        order: 3;
      }

    }
  }

  &__logo {
    display: flex;
    align-items: flex-end;
    margin-bottom: 1.6rem;

    @include breakpoint($xl-bp) {

      // margin-left: -2rem;
    }


    @include breakpoint($sm-bp) {
      order: 1;
      margin-bottom: 0;

    }


    svg {
      fill: var(--white);
    }

    & svg:nth-child(1) {
      width: 7.5rem;
      height: 3.9rem;

      @include breakpoint($xl-bp) {
        width: 5rem;
        height: 3rem;
      }

      @include breakpoint($sm-bp) {
        width: 7.3rem;
        height: 3.9rem;
      }
    }

    & svg:nth-child(2) {
      width: 6.4rem;
      height: 2.6rem;

      @include breakpoint($xl-bp) {
        width: 4rem;
        height: 2rem;
      }

      @include breakpoint($sm-bp) {
        width: 6.2rem;
        height: 2.6rem;
      }
    }

    & svg:nth-child(3) {
      width: 10.6rem;
      height: 2.6rem;

      @include breakpoint($xl-bp) {
        width: 6.6rem;
        height: 2rem;
      }

      @include breakpoint($sm-bp) {
        width: 10.3rem;
        height: 2.6rem;
      }
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    @include breakpoint($sm-bp) {
      order: 2;
    }

    p {

      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.7rem;
      letter-spacing: 0em;
      text-align: left;
      color: var(--white);

      a {
        color: var(--white);
        transition: all 0.2s;

        &:hover {
          color: var(--blue);

          span {
            color: var(--blue);
          }
        }
      }

      span {
        color: #FFA800;
      }

    }
  }

  &__network {
    display: flex;
    align-items: center;
    gap: 1.1rem;

    @include breakpoint($sm-bp) {
      display: none;
    }



    svg {
      width: 3rem;
      height: 3rem;
      fill: var(--white);
      transition: all 0.3s;
    }



    & a:first-child {
      position: relative;
      overflow: hidden;

      &::before {
        content: '';
        position: absolute;
        width: 2rem;
        height: 2rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: var(--white);
        z-index: -1;
        border-radius: 50%;


      }

      &:hover {

        &::before {
          z-index: 0;
        }

        svg {
          fill: #287be7;
          position: relative;
          z-index: 1;
        }
      }



    }

    & a:last-child {
      position: relative;
      overflow: hidden;

      &::before {
        content: '';
        position: absolute;
        width: 1.5rem;
        height: 1.5rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: var(--white);
        z-index: -1;
        border-radius: 50%;


      }

      &:hover {

        &::before {
          z-index: 0;
        }

        svg {
          fill: #ff2f2f;
          position: relative;
          z-index: 1;
        }
      }
    }
  }
}


.--mobile-hidden {
  @include breakpoint($xl-bp) {
    display: none;
  }
}