.header {
  position: fixed;
  width: 100vw;
  padding: 2rem 10.8rem;
  background: #00000050;
  z-index: 10;
  height: 9.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &::before {
    content: '';
    position: absolute;
    background-image: url('../images/svg/icon-arrow.svg');
    left: -1.3rem;
    top: 1.2rem;
    transform: translateY(-50%);
    width: 0.5rem;
    height: 0.6rem;
    transition: all 0.2s;

    background-size: cover;
    background-position: center;


    @include breakpoint($xl-bp) {
      width: 0.9rem;
      height: 1rem;
    }
  }

  transition: all 0.6s;

  @include breakpoint($xl-bp) {
    padding: 1rem 1.6rem;
    height: auto;
    background: var(--black);
  }

  @include breakpoint($sm-bp) {
    padding: 1.8rem 1.6rem;

  }


  &__logo {
    display: flex;
    align-items: flex-end;

    @include breakpoint($xl-bp) {
      order: 2;
    }

    @include breakpoint($xl-bp) {
      margin-left: -2rem;
    }

    svg {
      fill: var(--white);

    }

    & svg:nth-child(1) {
      width: 7.5rem;
      height: 3.9rem;

      @include breakpoint($xl-bp) {
        width: 5rem;
        height: 3rem;
      }

      @include breakpoint($sm-bp) {
        width: 4.3rem;
        height: 2.3rem;
      }
    }

    & svg:nth-child(2) {
      width: 6.4rem;
      height: 2.6rem;

      @include breakpoint($xl-bp) {
        width: 4rem;
        height: 2rem;
      }

      @include breakpoint($sm-bp) {
        width: 3.7rem;
        height: 1.5rem;
      }
    }

    & svg:nth-child(3) {
      width: 10.6rem;
      height: 2.6rem;

      @include breakpoint($xl-bp) {
        width: 6.6rem;
        height: 2rem;
      }

      @include breakpoint($sm-bp) {
        width: 6.2rem;
        height: 1.5rem;
      }
    }
  }


}

.header-nav {

  display: flex;
  align-items: center;
  gap: 3.6rem;

  @media (hover: hover) {
    &__el:hover &__btn {
      color: var(--blue);
    }

    &__el:focus &__btn {
      color: var(--blue);
    }
  }

  @include breakpoint($xl-bp) {
    display: none;

    &__el:hover &__btn {
      color: var(--white);
    }

    &__el:focus &__btn {
      color: var(--white);
    }
  }

  @include breakpoint($sm-bp) {}

  &__el {
    @include breakpoint($xl-bp) {}
  }





  &__btn {

    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.2rem;
    text-align: left;
    color: var(--white);
    transition: all 0.2s;

    @include breakpoint($xl-bp) {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1.7rem 1.6rem;
      border-bottom: 0.1rem solid var(--dark-grey-2);
    }




    &.active {
      border-bottom: 0;

      svg {
        transform: rotate(180deg);
      }
    }

    svg {
      display: none;
      width: 1.6rem;
      height: 1.6rem;
      transition: all 0.5s;
      stroke: var(--white);

      @include breakpoint($xl-bp) {
        display: block;
      }
    }



  }



  &__panel {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: all 0.4s;
    position: absolute;
    top: 6rem;
    left: 0rem;
    right: 0rem;

    @include breakpoint($xl-bp) {
      opacity: 1;
      max-height: 0;
      width: 100%;
      position: relative;
      left: 0;
      top: 0;

    }

    @include breakpoint($sm-bp) {}
  }

  &__el:hover &__panel {
    max-height: 100vh;
    opacity: 1;

    @include breakpoint($xl-bp) {
      max-height: 0
    }
  }

  &__panel-background {
    margin-top: 3.6rem;
    padding-bottom: 2rem;
    background: #00000050;
    transition: all 0.6s;

    @include breakpoint($xl-bp) {
      margin-top: 0;
    }
  }

  &__panel-wrapper {

    padding: 2.4rem;
    margin-left: 10rem;
    margin-right: 10rem;
    padding-bottom: 6rem;
    background: #131313;
    transition: all 0.6s;


    height: auto;

    border-top: 0.3rem solid var(--blue);
    display: flex;
    gap: 3.2rem;

    @include breakpoint($xl-bp) {
      border-top: 0;
      margin: 0;
      padding: 0;
      background: #353535;
    }
  }

  &__info {
    width: 100%;
    max-width: 44rem;

    @include breakpoint($xl-bp) {
      display: none;
    }
  }

  &__info-top {
    width: 100%;
    height: 24.4rem;
    position: relative;
    margin-bottom: 2.4rem;

    @include breakpoint($xl-bp) {}

    @include breakpoint($sm-bp) {}
  }

  &__info-text {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    color: var(--grey);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.7rem;
    letter-spacing: 0em;
    text-align: left;

    @include breakpoint($xl-bp) {}

    @include breakpoint($sm-bp) {}

    ul {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;

      li {
        a {

          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.7rem;
          text-align: left;
          color: var(--grey);
          transition: all 0.2s;


          &:hover {
            color: var(--blue);

            @include breakpoint($xl-bp) {
              color: var(--grey);
            }
          }





        }
      }
    }


  }

  &__submenu {
    display: flex;
    flex-wrap: wrap;
    gap: 4.8rem;
    row-gap: 8.1rem;

    @include breakpoint($xl-bp) {
      width: 100%;
      padding: 2rem 1.6rem;
      gap: 2.4rem
    }

    @include breakpoint($sm-bp) {}
  }

  &__submenu-el {
    width: 36rem;

    @include breakpoint($xl-bp) {
      width: 100%;
    }

    @include breakpoint($sm-bp) {}
  }

  &__submenu-btn {
    display: flex;
    align-items: center;
    gap: 0.8rem;

    margin-bottom: 1.2rem;

    @include breakpoint($xl-bp) {
      justify-content: space-between;
      width: 100%;
    }

    @include breakpoint($sm-bp) {}

    .header-nav__submenu-title {
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 2.2rem;
      text-align: left;
      color: var(--white);
      transition: all 0.2s;
      flex: 1;

      @include breakpoint($xl-bp) {
        pointer-events: none;
      }

      @include breakpoint($sm-bp) {

        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.9rem;


      }
    }


    @include breakpoint($sm-bp) {}


    &:hover {
      a {
        color: var(--blue);

        @include breakpoint($xl-bp) {
          color: var(--white);
        }
      }

    }



    &>svg {
      display: none;

      width: 1.2rem;
      height: 1.2rem;
      fill: transparent;
      transition: all 0.5s;
      stroke: var(--white);


      @include breakpoint($xl-bp) {
        display: block;
      }
    }

    &.active {
      &>svg {
        transform: rotate(180deg);
      }
    }

  }


  &__submenu-btn:hover &__submenu-icon {
    border: 0.2rem solid var(--blue);

    @include breakpoint($xl-bp) {
      border: 0.2rem solid var(--white);
    }

    svg {
      fill: var(--blue);
      stroke: var(--blue);

      @include breakpoint($xl-bp) {
        fill: var(--white);
        stroke: var(--white);
      }
    }
  }


  &__submenu-icon {
    border: 0.2rem solid var(--white);
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;

    @include breakpoint($xl-bp) {
      width: 2.4rem;
      height: 2.4rem;
    }

    @include breakpoint($sm-bp) {}

    svg {
      width: 2rem;
      height: 2rem;
      fill: var(--white);
      stroke: var(--white);
      transition: all 0.2s;

      @include breakpoint($xl-bp) {
        width: 1.3rem;
        height: 1.3rem;
      }
    }
  }

  &__submenu-panel {
    @include breakpoint($xl-bp) {
      max-height: 0;
      overflow: hidden;
      transition: all 0.5s;
    }
  }

  &__submenu-list {

    padding-left: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: 0.8rem;

    @include breakpoint($xl-bp) {}

    @include breakpoint($sm-bp) {}

    li {
      position: relative;
      cursor: pointer;

      &::before {
        content: '';
        position: absolute;
        background-image: url('../images/svg/icon-arrow.svg');
        left: -1.3rem;
        top: 1.2rem;
        transform: translateY(-50%);
        width: 0.5rem;
        height: 0.6rem;
        transition: all 0.2s;

        background-size: cover;
        background-position: center;


        @include breakpoint($xl-bp) {
          width: 0.9rem;
          height: 1rem;
        }
      }

      a {

        font-size: 1.6rem;
        font-weight: 300;
        line-height: 1.9rem;

        text-align: left;
        color: var(--grey);
        transition: all 0.2s;

        @include breakpoint($xl-bp) {}

        @include breakpoint($sm-bp) {}
      }

      @media (hover: hover) {
        &:hover {
          &::before {
            left: -0.9rem;

            @include breakpoint($xl-bp) {
              left: -0.9rem;
            }
          }

          a {
            color: var(--blue);
          }
        }
      }

      @include breakpoint($xl-bp) {
        &:hover {
          &::before {
            left: -0.9rem;

            @include breakpoint($xl-bp) {
              left: -0.9rem;
            }
          }

          a {
            color: var(--grey);
          }
        }

      }

    }
  }
}

.video-blok {




  &:hover {
    svg {
      fill: var(--dark-grey-2);

      @include breakpoint($xl-bp) {
        fill: var(--dark-grey);
      }
    }
  }


}

.video-preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4rem;
  height: 4rem;
  transform: translate(-50%, -50%);
  fill: var(--white);
  transition: all 0.3s;

  @include breakpoint($xl-bp) {}

  @include breakpoint($sm-bp) {}
}


.header-setting {
  display: flex;
  align-items: center;

  @include breakpoint($xl-bp) {
    order: 1;
  }

  &__person {
    display: flex;
    align-items: center;

    svg {
      width: 2.2rem;
      height: 2.2rem;
      fill: var(--white);
      transition: all 0.2s;
    }


    &:hover {
      svg {

        fill: var(--blue);

        @include breakpoint($xl-bp) {
          fill: var(--white);

        }
      }

    }



  }

  &__language {
    margin-left: 3.2rem;
    cursor: pointer;
    display: flex;
    align-items: center;


    font-size: 2rem;
    font-weight: 500;
    line-height: 2.4rem;
    letter-spacing: 0em;
    text-align: left;
    color: var(--white);
    transition: all 0.2s;

    @include breakpoint($xl-bp) {
      margin-left: 1rem;
    }

    svg {
      width: 2.2rem;
      height: 2.2rem;
      fill: var(--white);
      margin-right: 0.6rem;
      transition: all 0.2s;
    }


    &:hover {
      color: var(--blue);

      @include breakpoint($xl-bp) {
        color: var(--white);
      }

      svg {

        fill: var(--blue);

        @include breakpoint($xl-bp) {
          fill: var(--white);
        }
      }

    }

  }
}


.burger {
  width: 2.3rem;
  height: 1.9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  cursor: pointer;
  display: none;

  @include breakpoint($xl-bp) {
    display: flex;
    order: 3;
  }

  @include breakpoint($sm-bp) {}

  span {
    width: 2.5rem;
    height: 3px;
    background: var(--white);
    border-radius: 0.4rem;
    transition: all 0.3s;

    @include breakpoint($xl-bp) {}

    @include breakpoint($sm-bp) {
      height: 4px;
    }
  }

  & span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  & span:nth-child(3) {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

  }

  &.active-btn-modal {

    z-index: 101;

    & span:nth-child(2) {
      opacity: 0;
    }



    & span:nth-child(1) {
      transform: translateY(0.7rem) rotate(45deg);

    }

    & span:nth-child(3) {
      transform: translateY(-0.7rem) rotate(-45deg);

      @include breakpoint($sm-bp) {
        transform: translateY(-0.8rem) rotate(-45deg);
      }
    }

  }
}


.menu-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: #5c5c5c49;
  z-index: -1;
  visibility: hidden;
  pointer-events: none;
  display: flex;
  justify-content: flex-start;

  @include breakpoint($sm-bp) {
    justify-content: flex-end;
    background: transparent;
  }
}

.menu-wrapper.visibility-modal {
  z-index: 80;
  visibility: visible;
  pointer-events: auto;

}

.menu {
  width: 50%;
  height: 100%;

  overflow-y: auto;
  background: var(--black);
  transform: translate(-100%);
  transition: all 0.3s;
  padding-bottom: 15rem;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }




  @include breakpoint($sm-bp) {
    transform: translate(100%);
    width: 100%;
    padding: 1.6rem;
    margin-top: 5.5rem;
  }

}

.menu-wrapper.visibility-modal .menu {
  transform: translate(0);

}


.menu {


  .header-nav__el:last-child .header-nav__btn {
    border-bottom: 0;
  }

  .header-nav__el:last-child {
    margin-bottom: 20rem;
  }

  .header-nav__el:first-child {
    margin-top: 4rem;

    @include breakpoint($sm-bp) {
      margin-top: 1rem;
    }
  }
}

.horizontal-list {

  .header-nav__submenu-el {
    width: 100%;
  }


  .header-nav__submenu-list {
    height: 12rem;
    flex-wrap: wrap;
    gap: 10rem;
    row-gap: 0.8rem;

    @include breakpoint($xl-bp) {
      height: auto;
      flex-wrap: nowrap;

    }

  }

}



.wrapper-map {
  width: 100%;
  height: 24.4rem;


  @include breakpoint($xl-bp) {}

  @include breakpoint($sm-bp) {}
}

.map {
  overflow: hidden;
}



.header.active {

  background: var(--white);


  .header__logo {
    svg {
      fill: var(--black);
    }
  }

  .header-nav {

    &__btn {
      color: var(--black);


      &:hover {
        color: var(--blue);

        @include breakpoint($xl-bp) {
          color: var(--black);
        }
      }
    }

    &__panel-background {
      background: var(--white);
      box-shadow: 0px 1rem 0.4rem 0.4rem #0000000D;
      padding-bottom: 0;
      margin-bottom: 2rem;

    }

    &__panel-wrapper {
      background: var(--white);
    }

    &__submenu-btn {
      .header-nav__submenu-title {
        color: var(--black);
      }


      &:hover {
        .header-nav__submenu-title {
          color: var(--blue);

          @include breakpoint($xl-bp) {
            color: var(--black);
          }
        }

        .header-nav__submenu-icon {
          border: 0.1rem solid var(--blue);

          @include breakpoint($xl-bp) {
            border: 0.1rem solid var(--black);
          }

          svg {
            fill: var(--blue);
            stroke: var(--blue);

            @include breakpoint($xl-bp) {
              fill: var(--black);
              stroke: var(--black);
            }
          }
        }

      }

    }

    &__submenu-icon {

      border: 0.1rem solid var(--black);

      &>svg {
        fill: var(--black);
        stroke: var(--black);
      }
    }

    &__submenu-list {
      li {

        &::before {

          background-image: url('../images/svg/icon-arrow-dark.svg');

        }




        a {
          color: var(--dark-grey);
        }


        &:hover {
          a {
            color: var(--blue);

            @include breakpoint($xl-bp) {
              color: var(--dark-grey);
            }
          }
        }





      }
    }

    &__info-text {

      color: var(--dark-grey);

      a {
        color: var(--dark-grey);


        &:hover {
          color: var(--blue);

          @include breakpoint($xl-bp) {
            color: var(--dark-grey);
          }
        }



      }
    }





  }


  .header-setting {


    svg {
      fill: var(--black);
    }

    span {
      color: var(--black);
      transition: all 0.2s;
    }


    a:hover {
      svg {
        fill: var(--blue);

        @include breakpoint($xl-bp) {
          fill: var(--blue);
        }
      }

      span {
        color: var(--blue);

        @include breakpoint($xl-bp) {
          color: var(--blue);
        }
      }

    }



  }



}