.popup-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  visibility: hidden;
  pointer-events: none;

}

.popup-wrapper.visibility-modal {
  z-index: 100;
  visibility: visible;
  pointer-events: auto;
}

.popup-close {}




#popupThanksFirst.visibility-modal .popup-thanks {
  transform: translate(0);

  @include breakpoint($sm-bp) {}
}


#popupThanksFirst,
#popupThanksSecond {

  display: flex;
  justify-content: flex-end;

  transition: all 0s;

  @include breakpoint($sm-bp) {
    background: #00000099;
    justify-content: center;
    align-items: center;

    padding: 1.6rem;


  }

  .popup-thanks {
    width: 50%;
    height: 100%;

    padding: 5.2rem;
    overflow-y: auto;
    background: var(--blue);
    transform: translate(100%);
    transition: all 0.3s;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;

    @include breakpoint($xl-bp) {}

    @include breakpoint($sm-bp) {
      border-radius: 2.4rem;
      width: 100%;
      background: var(--white);
      height: fit-content;
      padding: 3.2rem 2.5rem;


    }

    &__close {
      position: absolute;
      top: 5.2rem;
      left: 5.2rem;
      width: 4.6rem;
      height: 4.6rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      @include breakpoint($xl-bp) {}

      @include breakpoint($sm-bp) {
        width: 1.6rem;
        height: 1.6rem;
        top: 2.2rem;
        right: 2.2rem;
        left: auto;

      }

      span {
        width: 100%;
        height: 0.3rem;
        background: var(--white);
        border-radius: 2.4rem;

        @include breakpoint($xl-bp) {}

        @include breakpoint($sm-bp) {
          background: var(--dark-grey);
        }
      }

      & span:first-child {
        transform: rotate(45deg) translateY(0.3rem);

        @include breakpoint($xl-bp) {}

        @include breakpoint($sm-bp) {
          transform: rotate(45deg) translateY(0.2rem);
        }
      }

      & span:last-child {
        transform: rotate(-45deg) translateY(-0.3rem);

        @include breakpoint($xl-bp) {}

        @include breakpoint($sm-bp) {
          transform: rotate(-45deg) translateY(-0.2rem);
        }
      }
    }

    &__title {

      font-size: 6.4rem;
      font-weight: 400;
      line-height: 7.7rem;
      letter-spacing: 0em;
      text-align: center;
      margin-bottom: 2.4rem;
      color: var(--white);

      @include breakpoint($xl-bp) {
        font-size: 4.2rem;
        line-height: normal;

      }

      @include breakpoint($sm-bp) {

        font-size: 2.4rem;

        line-height: 2.9rem;
        margin-bottom: 0.8rem;
        color: var(--dark-grey);

      }

    }

    &__subtitle {

      font-size: 2.4rem;
      font-weight: 400;
      line-height: 2.9rem;
      letter-spacing: 0em;
      text-align: center;
      color: var(--white);
      margin-bottom: 2.4rem;

      @include breakpoint($xl-bp) {
        font-size: 1.8rem;
      }

      @include breakpoint($sm-bp) {
        font-size: 1.6rem;
        line-height: 1.9rem;
        color: var(--dark-grey);
        margin-bottom: 1.6rem;


      }
    }

    .btn-all-blue {
      display: none;



      @include breakpoint($xl-bp) {}

      @include breakpoint($sm-bp) {
        display: block;
        width: 22.7rem;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.9rem;
        letter-spacing: 0em;
        padding: 1.2rem;


      }
    }

  }


}

#popupForm.visibility-modal .popup-form {
  transform: translate(0);

  @include breakpoint($xl-bp) {}

  @include breakpoint($sm-bp) {}
}

#popupFormCourse.visibility-modal .popup-form {
  transform: translate(0);

  @include breakpoint($xl-bp) {}

  @include breakpoint($sm-bp) {}
}

#popupForm,
#popupFormCourse {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: #00000099;
  overflow-y: auto;
  padding: 3.6rem 1.6rem;
  padding-bottom: 20rem;

  @include breakpoint($xl-bp) {
    display: block;

  }

  @include breakpoint($sm-bp) {
    height: 100%;
  }


  .form-contacts {
    width: 85.7rem;
    padding: 0;


    @include breakpoint($sm-bp) {
      width: 100%;



    }

    &__wrap {
      gap: 1.6rem;

      @include breakpoint($xl-bp) {
        flex-wrap: wrap;
        flex-direction: row;
      }

      @include breakpoint($sm-bp) {
        flex-direction: column;
      }
    }

    &__input {
      width: 41.6rem;
      background: var(--white);

      @include breakpoint($xl-bp) {
        max-width: 50%;
      }

      @include breakpoint($sm-bp) {
        max-width: 100%;
      }
    }

    &__textarea {
      background: var(--white);

      @include breakpoint($xl-bp) {
        height: 15rem;
      }
    }

    &__personal-data {}

    &__checkbox {}

    &__submit {}


    .btn-all-blue {}

    .open-thanks-second {}
  }
}


#popupFormCourse {
  .popup-form__title {
    @include breakpoint($sm-bp) {
      margin-bottom: 0.8rem;
    }
  }
}

.popup-form {
  width: 100%;
  max-width: 120rem;
  padding: 6.2rem 17rem;
  border-radius: 2.4rem;
  background: var(--white);
  position: relative;


  transform: translate(100%);
  transition: all 0.3s;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  @include breakpoint($xl-bp) {
    max-width: 90%;
    margin: 0 auto;
    padding: 3rem;

  }

  @include breakpoint($sm-bp) {
    padding: 2.4rem 1.6rem;
    margin: 0;
    max-width: 100%;
    align-items: flex-start
  }

  &__close {
    position: absolute;
    top: 6rem;
    right: 6rem;
    width: 3rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include breakpoint($xl-bp) {
      top: 2.2rem;
      right: 2.2rem;
      left: auto;
    }

    @include breakpoint($sm-bp) {
      width: 1.8rem;
      height: 1.8rem;
      top: 2.2rem;
      right: 2.2rem;
      left: auto;

    }

    span {
      width: 100%;
      height: 0.3rem;
      background: var(--dark-grey);
      border-radius: 2.4rem;

      @include breakpoint($xl-bp) {}


    }

    & span:first-child {
      transform: rotate(45deg) translateY(0.2rem);

      @include breakpoint($xl-bp) {}

      @include breakpoint($sm-bp) {
        transform: rotate(45deg) translateY(0.2rem);
      }
    }

    & span:last-child {
      transform: rotate(-45deg) translateY(-0.2rem);

      @include breakpoint($xl-bp) {}

      @include breakpoint($sm-bp) {
        transform: rotate(-45deg) translateY(-0.2rem);
      }
    }
  }

  &__title {
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 3.9rem;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 2.4rem;

    @include breakpoint($xl-bp) {}

    @include breakpoint($sm-bp) {

      font-size: 2.4rem;
      font-weight: 500;
      line-height: 2.9rem;
      text-align: left
    }

  }

  &__desc {

    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.2rem;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 2.4rem;

    @include breakpoint($sm-bp) {


      font-size: 1.4rem;

      line-height: 1.7rem;

      text-align: left;


    }

  }
}


#popupThanksSecond.visibility-modal .popup-thanks {
  transform: translate(0);

}

#popupThanksSecond {
  justify-content: center;
  align-items: center;
  background: #00000099;

  @include breakpoint($xl-bp) {
    // padding-bottom: 20rem;
  }

  .popup-thanks {
    width: 114.5rem;
    height: 58.6rem;

    padding: 4.5rem;
    border-radius: 2.4rem;
    background: var(--white);
    color: var(--dark-grey);

    @include breakpoint($xl-bp) {
      width: 80%;
      height: 40rem;
      padding: 3rem;

    }

    @include breakpoint($sm-bp) {
      height: auto;
      width: 100%;
    }


    &__close {
      position: absolute;
      top: 6rem;
      right: 6rem;
      left: auto;
      width: 3rem;
      height: 3rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      @include breakpoint($xl-bp) {}

      @include breakpoint($sm-bp) {
        width: 1.6rem;
        height: 1.6rem;
        top: 2.2rem;
        right: 2.2rem;
        left: auto;

      }

      span {
        width: 100%;
        height: 0.3rem;
        background: var(--dark-grey);
        border-radius: 2.4rem;

        @include breakpoint($xl-bp) {}


      }

      & span:first-child {
        transform: rotate(45deg) translateY(0.2rem);

        @include breakpoint($xl-bp) {}

        @include breakpoint($sm-bp) {
          transform: rotate(45deg) translateY(0.2rem);
        }
      }

      & span:last-child {
        transform: rotate(-45deg) translateY(-0.2rem);

        @include breakpoint($xl-bp) {}

        @include breakpoint($sm-bp) {
          transform: rotate(-45deg) translateY(-0.2rem);
        }
      }
    }

    &__title {


      color: var(--dark-grey);


    }

    &__subtitle {

      color: var(--dark-grey);





    }

    .btn-all-blue {
      display: block;
      width: 26.1rem;



      @include breakpoint($xl-bp) {}

      @include breakpoint($sm-bp) {

        width: 22.7rem;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.9rem;
        letter-spacing: 0em;
        padding: 1.2rem;


      }
    }


  }
}