<div id="applicationWindow" class="popup-wrapper">
  <div class="popup">
    <div id="closePopup" class="popup__icon">
      <svg>
        <use href="#iconClose"></use>
      </svg>
    </div>
  </div>
</div>

<div id="thankWindow" class="popup-wrapper">
  <div class="popup popup-thank">
    <div id="closePopup" class="popup__icon">
      <svg>
        <use href="#iconClose"></use>
      </svg>
    </div>
    <p class="popup-thank__subtitle">Спасибо за заявку, наш менеджер свяжется с вами в ближайшее время!</p>
  </div>
</div>