
.banner-main {
  background-size: cover;
  background-position: center;
  padding: 6.5rem;
  min-height: 96rem;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;


  .banner {

    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 0;
    }

  }




  @include breakpoint($xl-bp) {
    padding: 2.6rem 0;
    min-height: 56rem;
  }

  @include breakpoint($sm-bp) {

    min-height: 46rem;
  }



  &::before {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: #000000a8;
    z-index: 1;

    @include breakpoint($xl-bp) {}

    @include breakpoint($sm-bp) {}
  }

  &__video {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    video {
      // position: fixed;
      // right: 0;
      // bottom: 0;
      min-width: 100%;
      min-height: 100%;

      @include breakpoint($xl-bp) {
        display: none;
      }
    }


  }

  &__video-img {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: none;

    @include breakpoint($xl-bp) {
      display: block;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
  }

  &__title {
    font-size: 9rem;
    font-weight: 700;
    line-height: 10.9rem;
    text-align: center;
    color: var(--white);
    margin-bottom: 2.4rem;

    @include breakpoint($xl-bp) {
      font-size: 3.2rem;
      line-height: normal;
    }

    @include breakpoint($sm-bp) {}
  }

  &__description {
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 2.9rem;
    text-align: center;
    color: var(--white);
    margin-bottom: 4.8rem;

    @include breakpoint($xl-bp) {
      font-size: 2rem;
      line-height: normal;
    }

    @include breakpoint($sm-bp) {
      font-size: 1.6rem;
      margin-bottom: 1.6rem;
    }
  }

  &__img {
    width: 55.6rem;
    height: 47.8rem;
    overflow: hidden;

    @include breakpoint($xl-bp) {}

    @include breakpoint($sm-bp) {
      width: 19.4rem;
      height: 16.6rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .link-detail {
    margin-bottom: 5.7rem;

    @include breakpoint($sm-bp) {
      width: 20rem;
    }
  }
}

.banner--margin {
  margin-bottom: 12rem;

  @include breakpoint($xl-bp) {
    margin-bottom: 5.6rem;
  }

}


.service-list {
  background: var(--beige);
  color: var(--dark-grey);
  margin-bottom: 12rem;

  @include breakpoint($xl-bp) {
    margin-bottom: 5.6rem;
  }

  @include breakpoint($sm-bp) {}

  h2 {
    font-size: 6.4rem;
    font-weight: 400;
    line-height: 7.7rem;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 5.6rem;

    @include breakpoint($xl-bp) {
      font-size: 4.2rem;
    }

    @include breakpoint($sm-bp) {
      font-size: 3.2rem;
      line-height: 3.9rem;
      margin-bottom: 3.6rem;
    }
  }

  &__wrapper {}

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2.4rem;
    row-gap: 8rem;
    padding: 3.2rem 1.6rem;

    @include breakpoint($xl-bp) {
      padding: 1.6rem 0;
      justify-content: space-between;
    }

    @include breakpoint($sm-bp) {
      row-gap: 4rem;
    }
  }

  &__el {
    width: 44rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1.2rem;
    transition: all 0.2s;

    @include breakpoint($xl-bp) {
      &:hover {
        transform: skew(0, 0);
        box-shadow: 0 0 0 0;
      }
    }

  }

  @media (min-width: $hh) {
    &__el:hover &__el-icon {
      transform: rotateY(360deg);
      transition: all 0.5s;
    }
  }

  &__el-icon {
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 50%;
    background: var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.4rem;
   

    @include breakpoint($xl-bp) {
      margin-bottom: 1.6rem;
    }

    @include breakpoint($sm-bp) {
      width: 7.5rem;
      height: 7.5rem;
    }

    svg {
      width: 7.5rem;
      height: 7.5rem;
      fill: var(--white);

      @include breakpoint($xl-bp) {}

      @include breakpoint($sm-bp) {
        width: 3.5rem;
        height: 3.5rem;
      }
    }
  }

  &__el-title {
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 3.9rem;
    text-align: center;
    margin-bottom: 1.6rem;
    color: var(--dark-grey);

    @include breakpoint($xl-bp) {
      font-size: 2.8rem;
      margin-bottom: 0.8rem;
    }

    @include breakpoint($sm-bp) {
      font-size: 2.4rem;
      line-height: 2.9rem;
    }
  }

  &__el-description {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.2rem;
    text-align: center;
    color: var(--dark-grey);

    @include breakpoint($xl-bp) {}

    @include breakpoint($sm-bp) {
      font-size: 1.6rem;
      line-height: 1.9rem;
    }
  }
}


.progress {
  width: 100%;
  background: var(--blue);
  padding: 3.2rem 0;
  color: var(--white);
  margin-bottom: 12rem;

  @include breakpoint($xl-bp) {
    margin-bottom: 5.6rem;
  }

  @include breakpoint($sm-bp) {
    padding: 3.6rem 0;
  }

  h2 {
    font-size: 6.4rem;
    font-weight: 400;
    line-height: 7.7rem;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 5.6rem;

    @include breakpoint($xl-bp) {
      font-size: 4.2rem;
    }

    @include breakpoint($sm-bp) {
      font-size: 3.2rem;
      line-height: 3.9rem;
      margin-bottom: 3.6rem;
    }
  }

  &__wrapper {}

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 8rem;
    row-gap: 4rem;

    @include breakpoint($xl-bp) {}

    @include breakpoint($sm-bp) {}
  }

  &__content-el {
    width: 100%;
    max-width: 42.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include breakpoint($xl-bp) {}

    @include breakpoint($sm-bp) {}
  }

  &__content-icon {
    width: 16.6rem;
    height: 16.6rem;
    margin-bottom: 3.7rem;

    @include breakpoint($xl-bp) {
      width: 10rem;
      height: 10rem;
      margin-bottom: 3.2rem;
    }

    @include breakpoint($sm-bp) {
      width: 6.2rem;
      height: 6.2rem;

    }

    svg {
      width: 100%;
      height: 100%;
      fill: var(--white);
    }
  }

  &__content-title {

    font-size: 4.8rem;
    font-weight: 600;
    line-height: 5.8rem;

    text-align: center;

    margin-bottom: 3.2rem;

    @include breakpoint($xl-bp) {
      font-size: 4rem;
      margin-bottom: 1.6rem;
    }

    @include breakpoint($sm-bp) {

      font-size: 3.2rem;
      font-weight: 600;
      line-height: 3.9rem;


    }

  }

  &__content-description {

    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.2rem;
    letter-spacing: 0em;
    text-align: center;

    @include breakpoint($xl-bp) {}

    @include breakpoint($sm-bp) {

      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.9rem;


    }

  }
}



.events {
  width: 100%;

  margin-bottom: 12rem;
  background: var(--beige);
  position: relative;
  padding: 2.4rem 0;


  @include breakpoint($xl-bp) {
    margin-bottom: 5.6rem;
  }

  @include breakpoint($sm-bp) {
    padding: 1.6rem 0;
  }

  .banner-events {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;





    .banner {

      &::before {
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        background: #000000a8;
        z-index: 1;

        @include breakpoint($xl-bp) {}

        @include breakpoint($sm-bp) {
          background: #0000004b;
        }
      }


      img {
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }


  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3.2rem;
    position: relative;
    z-index: 1;



    @include breakpoint($xl-bp) {}

    @include breakpoint($sm-bp) {
      flex-direction: column;
      gap: 0.8rem;
      margin-bottom: 3.2rem;
    }

    h2 {

      font-size: 6.4rem;
      font-weight: 400;
      line-height: 7.7rem;
      letter-spacing: 0em;
      text-align: left;
      color: var(--dark-grey);
      position: relative;

      @include breakpoint($xl-bp) {}

      @include breakpoint($sm-bp) {

        font-size: 3.2rem;
        font-weight: 400;
        line-height: 3.9rem;
        letter-spacing: 0em;
        text-align: center;

      }

    }
  }



  &__card {
    height: 100%;
    width: 46.4rem;
    display: block;
    cursor: pointer;
    border-radius: 1.6rem;
    padding: 1.6rem;
    border: 0.1rem solid var(--grey);
    background: var(--white);


    &:hover {}



    @include breakpoint($xl-bp) {
      &:hover {

        img {
          transform: scale(1);
        }
      }
    }

    @include breakpoint($sm-bp) {
      width: 30rem;

    }
  }

  &__card:hover &__card-img {
    img {
      transform: scale(1.08);

      @include breakpoint($xl-bp) {
        transform: scale(1);
      }
    }
  }

  &__card-img {
    width: 100%;
    height: 30rem;
    overflow: hidden;
    border-radius: 1.7rem;
    margin-bottom: 2.4rem;


    @include breakpoint($xl-bp) {}

    @include breakpoint($sm-bp) {
      height: 20rem;
      margin-bottom: 1.6rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.8s;
    }
  }

  &__card-line {
    width: 100%;
    height: 0.4rem;
    background: var(--blue);
    margin-bottom: 1.6rem;
    border-radius: 0.4rem;

    @include breakpoint($sm-bp) {

      height: 0.3rem;
    }
  }

  &__card-title {
    min-height: 7.8rem;
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 3.9rem;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 1.6rem;
    color: var(--dark-grey);
    transition: all 0.2s;
    display: block;

    @media (hover: hover) {
      &:hover {
        color: var(--blue);
      }
    }



    @include breakpoint($xl-bp) {
      &:hover {
        color: var(--dark-grey);
      }
    }

    @include breakpoint($sm-bp) {

      font-size: 1.6rem;
      font-weight: 500;
      line-height: 1.9rem;
      letter-spacing: 0em;
      text-align: left;
      margin-bottom: 0.8rem;
      min-height: auto;

    }

  }

  &__card-date {

    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.2rem;
    letter-spacing: 0em;
    text-align: left;
    color: var(--dark-grey);
    opacity: 0.5;
    margin-bottom: 1.6rem;

    @include breakpoint($sm-bp) {

      font-size: 1.6rem;

      line-height: normal;


    }

  }

  &__card-description {


    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.2rem;
    letter-spacing: 0em;
    text-align: left;
    color: var(--dark-grey);
    transition: all 0.3s;

    @include breakpoint($xl-bp) {
      &:hover {
        color: var(--dark-grey);
      }
    }

    @include breakpoint($sm-bp) {

      font-size: 1.4rem;

      line-height: 1.7rem;


    }
  }

  .swiper-events {}



  .swiper-slide {
    height: auto;
  }
}

.events--background {
  h2 {
    color: var(--white);
  }

  .swiper-bottom {

    a {
      color: var(--white);

      &::before {
        background: var(--white);
      }
    }

    svg {
      stroke: var(--white);
    }
  }
}
.swiper__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3.2rem;
}



.swiper-news {
  .events__card-img {
    margin-bottom: 1.6rem;

  }
}

.swiper-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3.2rem;
  z-index: 1;
  position: relative;

  svg {
    fill: var(--white);
  }
}