<!DOCTYPE html>
<html lang="ru">

<head>
  {{> head }}
</head>

<body>
  <!-- sprite -->
  {{> sprite }}

  <!-- Header -->
  {{> header }}

  <!-- Main content -->
  <main class="content">
    {{> body }}
  </main>

  <!-- Footer -->
  {{> footer }}

  <!-- popup -->
  {{> popup }}



  <!-- JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/jquery.inputmask.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

  <!-- JavaScript Bundle with Popper -->
  <script src="./assets/js/index.js"></script>
</body>

</html>